body{
    background-image: url(copensrt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Georgia;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #011837;
    font-family: Georgia;
}

.logo {
    margin-left: 0px;
}

img {
    border-radius: 8px;
}

/*form container styling*/
main {
    width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2rem;
}

h2 {
   text-align:center;
}

form{
    display: flex;
    flex-direction: column;
}

/* form input field and social media button styling*/
input{
    padding: .8rem;
    border-radius: 4px;
    border-color: grey;
    margin: 5px 0;
    opacity: 0.85;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    font-family: Georgia;
}



input[type=password]::placeholder,
input[type=email]::placeholder{
    color: #0b0b0c;
}

/*login button styling*/
.mybtn {
    width: 100%;
    background-color: #011837;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color .3s;
}

.mybtn:hover{
    background: #0a3368;
}

.container{
    display: flex;
    flex-direction: column;
}

.footer-links{
    align-self: center;
}

.footer-links a{
    color: #011837;
    text-decoration: none;
    border-bottom: 1px solid #011837;
    margin: 1rem;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 850px){
    main{
        width: 70%;
    }
}

@media screen and (min-width: 950px){
    main{
        width: 60%;
    }
}
@media screen and (min-width: 1050px){
    main{
        width: 50%;
    }
}

@media screen and (min-width: 1150px){
    main{
        width: 35%;
    }
}